VITE_SUPABASE_URL=https://obmwgiqwwwbwbpitqzff.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ibXdnaXF3d3did2JwaXRxemZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg0MDY4NjQsImV4cCI6MjA4Mzk4Mjg2NH0.tCeedTTzU3ycNAY1hYZEhse27fND3nMpEzdsXnhW99s
OPENROUTER_API_KEY=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